@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.flex{
    display: flex;
}
.bg-secondary{
    background: rgba(255, 144, 14, 0.1);
}
.bg-text{
    color: rgb(255, 144, 14);
}
.dark-1{
    color: rgb(19, 19, 19);
}

.dark-2{
    color: rgb(66, 66, 66)
}
.dark-3{
    color: rgb(114, 114, 114);
}


.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    font-weight: 600;
}


/* nav styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.menu{
    list-style: none;
    gap: 30px;

}

.item-link{
    text-decoration: none;

}
/* banner styles */
.navbar, .banner{
    max-width: 80%;
    margin: 0px auto;
}

.banner-content{
    text-align: center;
    margin-bottom: 50px;

}
.banner-title{

}
.banner-description{

}
.banner-img{
    width: 100%;
    margin: 0px auto;
  
}



/* main styles */

.section-1{
    align-items: center;
    gap: 60px; 
    max-width: 80%;
    margin: 130px auto 0px auto;

}
.team-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;

}
